extends views/layout/main

block content
    include views/components/logo
    include views/components/nav
    include views/modules/movie-list
    p.warning
        span Warning
        span This is just a side testing project by <a href="https://github.com/Xaviju" title="Xaviju"> xaviju </a>on <a href="https://github.com/Xaviju" title="Xaviju">

