// Colors - This is only an example. Format it with your own colors but DO NOT delete this

$black: #000;
$blackish: #050505;
$grayer: #252525;
$gray: #333;
$gray-light: #babdb6;
$whitish: #eeeeec;
$white: #fff;

$strong-yellow: #c4a000;
