.nav {

    background: $grayer;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;

    form {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    select,
    input {
        flex-flow: 1;
        margin: .5rem;
    }

    .genres {
        flex-grow: 2;
    }

    input {
        background: $black;
        border: 0;
        color: $strong-yellow;
        cursor: pointer;
        padding: .7rem 0;

        &:hover {
            background: $strong-yellow;
            color: $white;
            transition: all .3s linear;
        }
    }
}
