.movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem auto;
    max-width: 1200px;
    width: 100%;

    .movie-shot {
        flex-grow: 1;
        margin: .5rem;
        max-width: 400px;
        min-width: 350px;

        &:hover {
            img {
                opacity: 1;
                transition: opacity .3s ease-in;
            }
        }

        img {
            opacity: .4;
            transition: opacity .5s ease-in;
        }
    }
}
