.movie-list {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    margin: 1rem auto;
    max-width: 1200px;
    width: 100%;

    .movie-shot {
        @include flex(1);
        margin: .5rem;
        max-width: 400px;
        min-width: 350px;

        &:hover {
            img {
                @include transition(opacity .3s ease-in);
                opacity: 1;
            }
        }

        img {
            @include transition(opacity .5s ease-in);
            opacity: .4;
        }
    }
}
